<div class="container">
  <h1 class="my-5">購入ありがとうございました</h1>

  <% if current_customer.address != @order.address %>
    <h4 class="mt-5">〒<%= @order.postal_code %>
    <%= @order.address %>
    <%= @order.name %> </h4>
    <%= link_to "配送先に登録する", add_delivery_customers_orders_path, method: :post, class:"btn btn-success"%>
  <% end %>
</div>
