<div class ="container">
	<div class="row">
		<div class ="col-xs-12">
		    <div class ="text-center">
			    <h1>About</h1>
			    <div class ="about-text">
		<p>ながのCakeは全国発送可能なケーキ屋さんです</br>
		お子様からお年寄りまでお召し上がりいただけるよう、</br>
		様々なバリエーションをご用意しております。</br>
	また、全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。</br>
	 是非ご注文ください</p>
	            </div>

				<div class ="slide">
				 	<div class="slide-body"><img class="slide-img" src="/assets/cheese.jpg"></div>
				 	<div class="slide-body"><img class="slide-img" src="/assets/chocolate.jpg"></div>
				 	<div class="slide-body"><img class="slide-img" src="/assets/cookie.jpg"></div>
				 	<div class="slide-body"><img class="slide-img" src="/assets/fruits.jpg"></div>
				 	<div class="slide-body"><img class="slide-img" src="/assets/Macaroons.jpg"></div>
				 	<div class="slide-body"><img class="slide-img" src="/assets/pudding.jpg"></div>
				 	<div class="slide-body"><img class="slide-img" src="/assets/short-cake.jpg"></div>
				</div>
	       
	        </div>
        </div>
    </div>
</div>
