<div class="container">
     <div class="row">
      <div class="col-xs-12">
    <h2 class="head-line title_h2 text-center">管理者ログイン</h2>
  </div>
    <div class="host-login col-md-6 offset-md-3">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <table border="0" align="center" >
         <tr height="50">
           <th>メールアドレス　</th>
           <td><%= f.email_field :email, autofocus: true, autocomplete: "email", size:50 %></td>
          </tr>
          <tr height="50">
            <th>パスワード　</th>
            <td><%= f.password_field :password, autocomplete: "current-password", size:50 %></td>
          </tr>
    </table>

    <div class="actions">
      <%= f.submit "ログイン", class:"btn btn-primary" %>
    </div>
    <% end %>
    </div>
  
  </div>
</div>