<div class="col-md-3">
  <div class="border border-dark mt-5">
    <h4 class="border-bottom border-dark text-center h-100">ジャンル検索</h4>
      <% genres.each do |genre| %>
        <div class="text-center my-3"><%= genre.name %></div>
      <% end %>
  </div>
</div>