/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: image-url('back.jpg')
}
body:before{
  content: '';
  background: inherit;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}
.background-color{
  background-color:#EEEEEE;
}

.host-login{
	text-align: center;
	padding-top: 50px;
}

.aaa{
  margin-top: 40px;
	padding-top: 40px;
	background-color: #CCCCCC;
}
.login-icon{
  padding-top: 20px;
	padding-bottom: 10px;

}
.sign-swich{
	margin-top: 20px;
}

.space .actions {
	margin-top: 5px;
}


.cookiea{
	font-size: 3em;
}
.cookieb{
	font-size: 4em;
}
.cookiec{
	font-size: 5em;
}

li{
	list-style: none;
}
header{
	width: 100vw;
  background-image: image-url('header.jpg');
  background-size: cover;
}
.header_flex {
	display: flex;
	height: 110px;
	align-items: center;
	width: 100%;
}
.shop-title{
  font-family: fantasy;
  font-weight: bold;
  font-size: 62px;
  color: rgba(0, 0, 0, 0);
  text-shadow: 3px 3px 0 #cd5;
  -webkit-text-stroke: 1px #888;
  text-stroke: 2px #888;
  padding: 0 0 5px;
}
.header_flex nav {
	margin-left: auto;
 }
.header_flex ul {
	display: flex;
}
.header_flex ul li {
	margin-left: 10px;
	margin-right: 10px;
}
.search-item{
  position: right;
}
.customer-name{
  font-weight: bold;
	margin-top: 10px;
  color: #000;
  font-size: 16px;
  background-color: rgba(255,255,255,0.6);
}
.cart-count {
  color: #000;
}
footer {
 width: 100%;
 background-color:#898989;
 color:#FFF;
 font-size:12px;
}

#foot_guide {
 width:100%;
 margin:0 auto;
}

.shop-info {
 padding:20px 0 10px;
 text-align:center;
 font-size:28px;
 font-weight:bold;
}

.left {
 width:580px;
 float:left
}

.right {
 width:300px;
 float:right;
}

dt {
 font-size:14px;
 font-weight:bold;
 margin-top:10px;
}

dd {
 margin-left:15px;
 margin-top:5px;
}

hr {
 border: none;
 border-top: solid 1px #fff;
 margin-top:10px;
}

.footer-p {
 clear:both;
 padding:20px 0;
 width:100%;
 text-align:center;
 font-size:10px;
 font-weight:bold;
}

.flash{
	margin-right: 15px;
	margin-left: 15px;
}

.sign-link{
	margin-top: 30px;
}
.sign-linkb{
	margin-top: 20px;
	padding-bottom: 10px;
}

.genre {
	min-height: 500px;
}

#error_explanation {
  border:2px solid #990000;
  color:#262626;
  background:#FFEBE8;
	margin: 10px;
}
.slide-body{
	padding-left: 180px;
	margin-top: 50px;
  padding-bottom: 20px;
}
.slide-img{
	height: 400px;
	width : 750px;
}
.about{
    background-color:#EEEEEE;
}
.about-text{
	margin-top: 40px;
	font-size: 20px;
	}

.about-text ::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 75px;/*線の上下位置*/
  display: inline-block;
  width: 200px;/*線の長さ*/
  height: 2px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: black;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}

/*下線*/
.about-text ::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 460px;/*線の上下位置*/
  display: inline-block;
  width: 200px;/*線の長さ*/
  height: 2px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: black;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}


.field_with_errors {
  display: contents;
  }

.genre-name {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  padding-top: 15px;
}
