/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.host-login{
	text-align: center;
	margin-top: 50px;
}

li{
	list-style: none;
}
div {
	padding: 0;
}
header{
	width: 100%;
}
.header_flex {
	display: flex;
	height: 60px;
	align-items: center;
	background-color: #FFFFAF;
	width: 100%;
}
.header_flex nav {
	margin-left: auto;
 }
.header_flex ul {
	display: flex;
}
.header_flex ul li {
	margin-left: 30px;
	margin-right: 30px;
}
.customer-name{
	margin-top: 10px;
}
footer {
 width: 100%;
 background-color:#898989;
 color:#FFF;
 font-size:12px;
}

#foot_guide {
 width:100%;
 margin:0 auto;
}

.info {
 padding:20px 0 10px;
 text-align:center;
 font-size:28px;
 font-weight:bold;
}

.left {
 width:580px;
 float:left
}

.right {
 width:300px;
 float:right;
}

dt {
 font-size:14px;
 font-weight:bold;
 margin-top:10px;
}

dd {
 margin-left:15px;
 margin-top:5px;
}

hr {
 border: none;
 border-top: solid 1px #fff;
 margin-top:10px;
}

.footer-p {
 clear:both;
 padding:20px 0;
 width:100%;
 text-align:center;
 font-size:10px;
 font-weight:bold;
}

.flash{
	margin-right: 15px;
	margin-left: 15px;
}

.sign-link{
	margin-left: 180px;
}

.genre {
	min-height: 500px;
}

#error_explanation {
	background-color: #FFABCE;
	border: 1px solid #FF97C2;
	color: white;
	margin: 10px;
}