// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bg_top {
  width:790px;
  height:300px;
  margin-top: 20px;
  background-image: url(top.jpg);
  background-size: cover;
  background-position: center;
  padding: 50px 200px;
}

.bg-top2 {
  margin: auto;
  width: 50px;
  height: 150px;
  padding: 30px
}

.bg_top2 p {
  font-size: 16px;
  text-align: center;
  line-height: 240%;
  background-color: rgba(255,255,255,0.7);
}
.product-container {
	float: left;
	margin: 40px 15px 20px 15px;
}
.recommendation{
	font-weight: bold;
	font-size: 25px;
}
.item-name {
  color: #000000 ;
  font-weight: 2 ;
}