.genre-index {
  height: 500px;
}
.item-img {
  height: 150px;
  border: 1px solid black;
  margin: 10px 0;
}
.item-description {
  overflow-wrap: break-word;
}
.item-img-show {
  height: 200px;
  border: 1px solid black;
  margin-left:70px;
}