.er{
	color:#262626; 
    background:#FFEBE8;
    text-align: center;
    border:2px solid #990000;
    padding:-20px; font-weight:850;
    margin: 0 auto;
    margin-bottom: 5px;
    width: 70%;
}
.erb{
	padding: 15px;
	margin-bottom: 5px;
	}
