<div class="container">
  <div class="row">
  <div class="mr-auto">
    <h2 class="p-3 px-5 mt-5 bg-light">ショッピングカート</h2>
  </div>
    <div class="btn-box text-right mt-5">
				<%= link_to "カートを空にする", destroy_all_path, method: :delete, class:"btn btn-danger" %>
			</div>
  </div>
</div>