<footer>
<h1 class="info">SHOP INFORMATION</h1>

<div id="foot_guide">

<dl class="left">
<dt>お支払いについて</dt>
<dd>お支払いはクレジットカード・銀行振込がご利用いただけます。</dd>
<dt>配送について</dt>
<dd>【業者】佐川急便・ヤマト運輸<span>※運送会社の指定はございません。</span></dd>
<dd>【送料】全国一律８００円　</dd>

<hr>

<dt>返品交換について</dt>
<dd>返品・交換は、未開封のものに限らせて頂きます。<br>
ご希望の方は必ず、注意点をご確認いただき、商品お受け取り後 １週間以内に当店までご連絡くださいませ。</dd>
</dl>

<dl class="right">
<dt>お問い合わせ</dt>
<dd>ながのCAKE</dd>
<dd>時間 / 10:00～19:00</dd>
<dd>休業日 / 毎週火曜日 </dd>
<dd>&nbsp;</dd>
<dd>住所：〒999-9999<br>
長野県松本市　99-99</dd>
<dd>TEL：99-9999-9999</dd>
<dd>MAIL：nagano-cake@shop.co.jp</dd>

</dl>

<br class="clearfix">

</div>

<p class="footer-p">サイト内の全画像・全文章の著作権は ながのCAKEに属しており無断使用・転載・画像リンクは禁止しております。<br>
Copyright(c) 2020 tryn all right reserved.</p>

</footer>